@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
  background-color: hsl(186, 56%, 23%);
  justify-content: center;
}

h1 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-align: center;
  color: white;
  font-size: 5rem;
  letter-spacing: -2px;
  line-height: .6;
  margin-bottom: 1rem;
}

h2 {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  text-align: center;
  color: white;
  font-size: 4rem;
  letter-spacing: -2px;
  line-height: .6;
  margin-bottom: 1rem;
}




#mapContainer {
  display: flex;
  height: 100vh;
  width: calc(100% - 17px);
  gap: 10px;
  padding: 10px;
  background-color: hsl(186, 56%, 23%);
}

#map {
  flex-grow: 1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #e0e0e0;
  overflow: hidden;
}

#storyContainer {
  width: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  #storyContainer {
    width: 200px;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  #storyContainer {
    width: 180px;
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  #storyContainer {
    width: 150px;
    padding: 10px;
  }
}

#selectedCountry {
  width: 100%;
  font-size: 3em;
  text-align: center;
  word-wrap: break-word;
}

#narratives {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  gap: 10px;
}

#narratives div {
  text-indent: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  display: block;
}

.narrative-title {
  padding-top: 2px;
  margin: 0;
  font-size: 22px;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.narrative-description {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  margin: 5px 0;
  color: #555;
  font-size: 16px;
  text-align: center;
}


/* CSS */
.button-19 {
  appearance: button;
  background-color: hsl(191, 50%, 50%);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 20%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: hsl(178, 50%, 60%);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}